.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  color: $color-black-menu;
  height: 75px;
  text-align: center;
  margin: auto;
  width: 100%;
  text-decoration: none;
  background-color: hsla(0,0%,95.7%,.4588235294117647);
  .head-logo {
    margin: 10px 25px  0 -26px;
    padding: 0 30px 0 0;
  }
}
.menu-list {
  display: flex;
  font-size: 13px;
  // font-family: "Open Sans", sans-serif;
  margin: auto;
  font-weight: 700;
  &.menu-list li {
    padding: 30px 40px 30px 0;
  }
}
.menu-list :hover {
  transition: all 1s ease;
  color: #789629;
}
.head-item {
  display: flex;
  margin: auto;
}
li.head-item_cart a {
  color: hsl(0, 0%, 0%);
}
// dropdown
.menu-list > li {
  position: relative;
  cursor: pointer;
}
li.li-details a {
  color: #818181;
  text-decoration: inherit;
}
p.dropdown-tittle a {
  color: #789629;
  text-decoration: inherit;
}

.menu-list_dropdown-list{
  display: none;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 1%;
  width: 600px;
  padding: 0 15px 10px 15px;
  border: 2px solid #789629;
  background-color: #fff;
  margin-left: -220px;
}

.menu-list_dropdown:hover {
  .menu-list_dropdown-list{
    display: inline-block;
  }
}

.menu-list_dropdown-table.row {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 10px;
}
li.li-details {
  display: table-row;
}
.menu-list_dropdown-arrow{
  margin-left: 230px;
  margin-top: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 12px 20px;
  border-color: transparent transparent #769429 transparent;
}
.menu-list_a{
  color: #1A1A1A;
}
.menu-list_a:hover{
  text-decoration: inherit;
  color: #769429;
}
.dropdown-details > li  {
    padding: 0;
    color: #818181;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
}
li.head-item_cart {
  padding: 0 50px 0 10px;
}
//////////////// cart
.head-item_cart:hover{
  .item-cart{
    display: inline-block;
  }
}
.item-cart{
  display: none;
}

.item-cart_arrow{
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 10px 20px;
  border-color: transparent transparent #769429 transparent;
}

ul.item-cart {
  position: absolute;
  font-size: 13px;
  z-index: 1;
  top: 47px;
  left: -12%;
  width: 210px;
  padding : 10px 10px;
  border: 2px solid #789629;
  background-color: #fff;
}
.item-cart_list-cart {
  display: flex;
}
.item-cart_list-title {
  margin: 0 12px;
}
.item-cart_cost{
  display: flex;
  color: #789629;
  font-family: "Lobster",sans-serif !important;
  font-size: 14px;
  line-height: 25px;
}
.item-cart_cost-icon{
  display: inline-block;
  font-size: 10px;
  vertical-align: super;
  margin-top: -5px;
}
.list-cart_view-cart{
  padding: 10px;
  background-color: #000000;
  color: #fff;
  margin-right: 100px;
}
.list-cart_total{
  line-height: 25px;
  margin-left: -60px;
}
.item-cart_total-cost{
  display: flex;
  color: #789629;
  font-family: "Lobster",sans-serif !important;
  font-size: 14px;
  line-height: 25px;
  margin-left: -15px;
}
.head-item_mobile{
  margin-left: 50px;
  opacity: 0;
  i.head-item_mobile-show {
    padding: 10px;
    background-color: black;
    color: white;
}
}
.head_show-list{
  background-color: rgba(244, 244, 244, 0.458824);
}

@media only screen and ( max-width: 992px){
  .head-logo{
    margin-top: 10px !important;
    margin-left: 10px !important;
  }
  li.show-list_menu-li {
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    font-family: system-ui;
  }
  .head-menu{
    display: none;
  }
  .head-item_mobile{
    opacity: 1;
  }
  
}
@media only screen and  (max-width: 751px){
  .header {
    .head-logo {
      position: fixed;
      left: 0px;
      padding: 0 30px 0 0;
      img {
        width: 37%;
      }
    }
    .head-item {
      position: fixed;
      padding: 27px 40px;
      right: 0px;
      margin-left: 13px;
      font-size: 10px;
      li.head-item_search {
        margin: 0px 20px !important;
      }
      li.head-item_mobile {
        margin: 0px;
      }
      li.head-item_cart {
       padding: 0px;
      }
    }
    .head_show-list{
      margin-top: 3rem;
    }
  }
}
@media only screen and (max-width: 576px) {
  .header{
    
    .head-logo {
      position: fixed;
      left: 0px;
      padding: 0 30px 0 0;
      
    }
    .head-logo img {
      width: 100%;
      margin-top: 15px !important;
      max-width: 110px;
      margin-left: 25px;
    }
    .head-item {
      padding: 0px;
      margin-right: 35px;
      margin-top: 40px;
    }
  }
}

@media only screen and ( max-width: 500px ){
  
  li.head-item_cart {
    padding: 0 20px 0 10px;
  }
  li.show-list_menu-li {
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    font-family: system-ui;
  }
}
@media only screen and (max-width: 480px) {
  .header{
    img{
      // width: auto !important;
    }
    .head-logo img {
      max-width: 180px;
      margin-left: 25px;
      margin-top: 20px;
    }
    .head-item {
      padding: 15px 0px 0px 0px;
      margin-right: 35px;
      margin-top: 27px;
    }
    
  }
}
@media only screen and (max-width: 380px) {
  .header{
    img{
      // width: auto !important;
    }
    .head-logo img {
      max-width: 130px !important;
      margin-left: 25px;
    }
    .head-item {
      padding: 15px 0px 0px 0px;
      margin-right: 35px;
      margin-top: 14px;
    }
    
  }
  
}
